/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

@tailwind base;
@tailwind components;
@tailwind utilities;


.primary{
  color: #32D095;
}
.MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-colorPrimary.MuiInputBase-formControl.MuiInputBase-adornedEnd {
  background-color: #D7E7F4; /* Custom background color */
  /* border-radius: 8px;  */
  border: 20px solid purple !important;
  color: black; /* Custom text color */
  padding-bottom: 0;
  padding-top: 0;
  margin-top: 5px;
  margin-bottom: 5px;
  height: 35px;
  border: none !important;
  
}
.css-1yq5fb3-MuiButtonBase-root-MuiIconButton-root{
  background-color: #32D095 !important;
  border-radius: 0px !important;
  /* width: fit-content !important; */
  /* margin-right: 1px !important; */
  height: 35px;
  border-top-right-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
  
}
.MuiOutlinedInput-notchedOutline{
  border: 'none', 
}
.MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-colorPrimary.MuiInputBase-formControl.MuiInputBase-adornedEnd {
  background-color: #D7E7F4; 
  border: none; 
  border-radius: 8px; 
  padding-right: 0px;
}

.MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-colorPrimary.MuiInputBase-formControl.MuiInputBase-adornedEnd .MuiOutlinedInput-notchedOutline {
  border: none; /* Ensure no border for the outline */
}

.css-i4bv87-MuiSvgIcon-root{
  color: white;
} 